{% extends 'ex01/base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
    <div class="post">
        <div class="post-title">Log in</div>

        {% if error %}
            <div class="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form method="post" action="{{ path('app_login') }}">
            <label for="username">Username</label>
            <input type="text" value="{{ last_username }}" name="_username" id="username" autocomplete="username" required autofocus>

            <label for="password">Password</label>
            <input type="password" name="_password" id="password" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div style="text-align: center;">
                <button type="submit" class="btn">Log in</button>
            </div>
            
            <div style="text-align: center; margin-top: 15px;">
                <a href="{{ path('app_register') }}">Create an account</a>
            </div>
        </form>
    </div>
{% endblock %}