{% extends 'ex01/base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="post">
        <div class="post-title">Register</div>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.password.first) }}
            {{ form_row(registrationForm.password.second) }}
            
            <div style="text-align: center;">
                 <button type="submit" class="btn">Register</button>
            </div>
        {{ form_end(registrationForm) }}
        
        <div style="text-align: center; margin-top: 15px;">
            <a href="{{ path('app_login') }}">I already have an account</a>
        </div>
    </div>
{% endblock %}